@font-face {
    font-family: 'Roboto Lt';
    src: url(../FONTS/Roboto-Light.woff2) format('woff2'),
        url(../FONTS/Roboto-Light.woff) format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face 
{
    font-family: 'champagne__limousinesregular';
    src: url(../FONTS/champagne__limousines-webfont.woff2) format('woff2'),
         url(../FONTS/champagne__limousines-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mermaid';
    src: url(../FONTS/MermaidSwashCaps-Bold.woff2) format('woff2'),
        url(../FONTS/MermaidSwashCaps-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../FONTS/Inter-VariableFont_slnt\,wght.woff2') format('woff2'),
        url('../FONTS/Inter-VariableFont_slnt\,wght.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


html {
    height: 100%;
    width: 100%;
}

body {
    overflow-y: hidden;
    background-color: #001327;
    margin: 0;
    height: 100%;
    width: 100%;
}

#body-container {
    display: flex;
    flex-direction: row;
}

#moitiephoto {
    width: 50%;
    height: 100%;
    float: left;
}

#moitiephoto img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center 33%;
}

#moitietexte {
    width: 50%;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
}

header {
    padding: 0px 60px;
}

#entete {
    background-color: #001327;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

#entete_un {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
    align-content: stretch;
}

#titre {
    text-align: left;
    font-family: 'Inter';
    color: #FAFAFA;
    margin: 16px 0 0 0;
}

hr {
    margin: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

nav a {
    font-size: 2em;
    color: #fafafa;
    font-family: 'Inter';
    text-decoration: none;
    font-weight: bold;
}

#scroll {
    overflow-y: auto;
    flex: 1;
}

a:hover {
    color: #4c6285;
    text-decoration: underline;
}

ul {
    font-family: 'Inter';
}

.liens {
    color: #4c6285;
    text-decoration: underline;
    color: #fafafa;
}

div a
{
    font-size: 2em;
    color: #fafafa;
    font-family: 'Inter';
    text-decoration: none;
    font-weight: bold;
}

h2 {
    font-size: 2em;
    color : #fafafa;
    font-family: 'Inter';
    text-align: center;
}

p {
    font-size: 1em;
    color:#fafafa;
    font-family: 'Inter';
}

#url a 
{
    font-size: 1em;
}

p a 
{
    font-size: 1em;
}

.infos 
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: stretch;
}

#main_container 
{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

#main_container div
{
    margin-bottom: 3em;
}

