@font-face {
    font-family: 'Roboto Lt';
    src: url(../FONTS/Roboto-Light.woff2) format('woff2'),
        url(../FONTS/Roboto-Light.woff) format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face 
{
    font-family: 'champagne__limousinesregular';
    src: url(../FONTS/champagne__limousines-webfont.woff2) format('woff2'),
         url(../FONTS/champagne__limousines-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mermaid';
    src: url(../FONTS/MermaidSwashCaps-Bold.woff2) format('woff2'),
        url(../FONTS/MermaidSwashCaps-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
    width: 100%;
}

body {
    overflow-y: hidden;
    background-color: #FAFAFA;
    margin: 0;
    height: 100%;
    width: 100%;
}

#body-container {
    display: flex;
    flex-direction: row;
}

#moitiephoto {
    width: 50%;
    height: 100%;
    float: left;
}

#moitiephoto img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center 33%;
}

#moitietexte {
    width: 50%;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
}

header {
    padding: 0px 60px;
}

#entete {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

#entete_un {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
    align-content: stretch;
}

#titre {
    text-align: left;
    font-family: 'Roboto-Lt';
    color: #F27B9C;
    margin: 16px 0 0 0;
}

hr {
    margin: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

nav a {
    font-size: 2em;
    color: #000000;
    font-family: 'champagne__limousinesregular';
    text-decoration: none;
    font-weight: bold;
}

#scroll {
    overflow-y: auto;
    flex: 1;
}

a:hover {
    color: #F27B9C;
    text-decoration: underline;
}

ul {
    font-family: 'champagne__limousinesregular';
}

.liens {
    color: #808080;
    text-decoration: underline;
    color: #F27B9C;
}
