#contact {
    color: #FAFAFA;
    text-align: left;
    padding: 0px 60px;
    font-size: 2.8em;
    font-family:'Inter';
}

.informations {
    color: #FAFAFA;
    font-size: 2em;
    font-family: 'Inter';
    text-align: left;
    padding: 0px 60px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.informations div:first-child {
    margin-right: 8px;
}
.informations div:last-child a {
    vertical-align: middle;
}

#moitiephoto img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}





/* @media screen and (max-width: 1280px) and (max-height: 1280px)

{
footer
{
display: flex;
flex-direction: column;
bottom: auto;
}
} */