@media screen and (max-width: 768px)
{
    #entete-cv {
        display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    justify-content: center;
	    align-items: center;
	    align-content: stretch;
    }

    
    #entete-cv div:first-child {
        margin: 20px 0px 0px 0px;
    }

    #infos-entete {
        margin: 0px 0px 20px 0px;
        text-align: center;
    }

    .infos-CV {
        text-align: center;
    }

    #langues, #CV-haut-gauche .row div:nth-child(3) {
        padding-left: 20px;
    }
}

@media screen and (max-width: 540px)
{
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    #entete_un {
        justify-content: center;
    }
    
    #titre
    {
        font-size: 3em;
    }
}