body {
    overflow: scroll;
}

#CV-container {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

#entete-cv {
    background-color: #F27B9C;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    margin-top: -1%;
}

#oceane-photo {
    height: 160px;
    width: 187px;
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 3%;
    border: solid;
}

#nom-cv {
    color: white;
    font-family: 'Roboto-Lt';
    font-size: 2em;
    margin: 0;
    margin-top: 2%;
    margin-left: 3%;

    
}

.infos-CV {
    text-align: left;
    font-family: 'Roboto-Lt';
    font-size: 2em;
    color: white;
    margin: 0;
    margin-left: 3%;
}

#intro {
    font-family: 'Roboto Lt';
    text-align: center;
    font-size: 1.5vw;
    align-self: center;
    width: 75%;
}

#CV {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
    margin-left: auto;
    margin-right: auto;
}


#CV-haut {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

#CV-haut-gauche {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
    font-size: 1vw;
}

.titres {
    color: #F27B9C;
    font-size: 1.3vw;
    text-align: center;
    font-family: 'Roboto-Lt';
}

.row {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
    }

.row div:first-child {
    flex-basis: 30%;
}

.row div:not(:first-child) {
    flex-basis: 35%;
}

.row p, .row ul {
    margin: 0;
}

.row-deux {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.row-deux div:first-child {
    flex-basis: 30%;
}

.row-deux div:nth-child(2) {
    flex-basis: 70%;
}

.bold {
    font-weight: bold;
    font-family: 'Roboto Lt';
}

.italic {
    font-style: italic;
    font-family: 'Roboto Lt';
}

.tâches {
    font-size: 1vw;
}

.CV-section-colonne {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
    font-size: 1vw;
}


#CV-bas {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

p
{
    font-family: 'Roboto Lt';
}

span {
    font-family: 'champagne__limousinesregular';
}

#interêts {
    font-size: 1vw;
}

