@font-face {
    font-family: 'Roboto Lt';
    src: url('Roboto-Light.woff2') format('woff2'),
        url('Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Vogue';
    src: url('Vogue-Regular.woff2') format('woff2'),
        url('Vogue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face 
{
    font-family: 'champagne__limousinesregular';
    src: url('champagne__limousines-webfont.woff2') format('woff2'),
         url('champagne__limousines-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'STAY HOME';
    src: url('STAYHOMERegular.woff2') format('woff2'),
        url('STAYHOMERegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mermaid Swash Caps';
    src: url('MermaidSwashCaps-Bold.woff2') format('woff2'),
        url('MermaidSwashCaps-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SEGA LOGO FONT';
    src: url('SEGA.woff2') format('woff2'),
        url('SEGA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neuropol X Rg';
    src: url('NeuropolXRg-Regular.woff2') format('woff2'),
        url('NeuropolXRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mermaid';
    src: url('Mermaid-Bold.woff2') format('woff2'),
        url('Mermaid-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body
{
    overflow: hidden;
    background-color: #FAFAFA;
    margin: 0;
}

#entete
{
    background-color: #FAFAFA;
    width: max-width;
    height: 125px;
    
}

#CV_parent {
margin-left: 20%;
margin-right: 20%;
border-right: 5px solid #F27B9C;
border-left: 5px solid #F27B9C;
}

#presentation_CV_enfant1{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
align-content: stretch;
background-color: #F27B9C;
margin-block-start: -0.9%;
}


#titreducv {
font-family: 'champagne__limousinesregular';
position: relative;
float: left;
text-align: left;
color: white;
font-size: 3em;
}

.infos_droite
{
text-align: right;
position: relative;
float:right;
color: white;
font-size: 1.5em;
font-family: 'champagne__limousinesregular';
}

#intro {
font-family: 'champagne__limousinesregular';
font-size: 1.3em;
font-weight: bold;
text-align: center;
border-left: 5px solid #F27B9C;
border-right: 5px solid #F27B9C;
padding-left: 20%;
padding-right: 20%;
margin-top: 0%;
}

#Competences_langues 
{
border-left: 5px solid #F27B9C;
border-right: 5px solid #F27B9C;
}

.infos_gauche 
{
    text-align: left;
    position: relative;
    float:left;
    color: #F27B9C;
    font-size: 1.5em;
    font-family: 'champagne__limousinesregular';
}


h1 
{
    font-family: 'champagne__limousinesregular';
    position: relative;
    float: left;
    text-align: left;
    color: #F27B9C;
}

#titre
{
    text-align: center;
    font-family: 'Mermaid';
    color: #F27B9C;
    padding: 0px 60px;
    padding: 0;
}

hr 
{
    width: 100%;
}

#bienvenue 
{
    color: #F27B9C;
    text-align: left;
    padding: 0px 60px;
}

h1
{
    
    text-align: right;
    font-family: 'Roboto Lt';
    font-size: 2.8em; 
}

#textun
{
    color: #000000;
    font-size: 2em;
    font-family: 'champagne__limousinesregular';
    text-align: left;
    padding: 0px 60px;
    
}

#textdeux
{
    font-family: 'champagne__limousinesregular';
    color: #424141;
    font-size: 1.5em;
    padding: 0px 60px;

}

#texttrois
{
    font-family: 'champagne__limousinesregular';
    color: #424141;
    font-size: 1.2em;
    padding: 0px 60px;
}
nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    /* float: right; */
    /* position: relative; */
    bottom: 1px;
    /* right: 30%; */
}

header
{
padding: 0px 60px;
}

nav a
{
    font-size: 2em;
    color: #000000;
    font-family: 'champagne__limousinesregular';
    text-decoration: none;
    font-weight: bold;
}

a:hover
{
    color: #F27B9C;
    text-decoration: underline;
}

#gauche
{
    color: black;
    font-family: 'champagne__limousinesregular';
    border: 3px #00FFF7 solid;
    font-size: 20px;
}

ul
{
    font-family: 'champagne__limousinesregular';
}


#oceane {
    height: 100%;
    width: 100%;
}

#moitietexte
{
    width: 100%;
    height: 100%;
    float: right;
}

aside
{
    position: left;
}

.liens
{
    color: #808080;
    text-decoration: underline;
    color: #F27B9C;

}






/* @media screen and (max-width: 1280px) and (max-height: 1280px)

{
footer
{
display: flex;
flex-direction: column;
bottom: auto;
}
} */