@media screen and (max-width: 1200px)
{
    body {
        overflow-y: auto;
    }

    #scroll {
        overflow-y: hidden;
    }

    #entete_un {
        justify-content: center;
    }

    #moitiephoto, #moitietexte {
        width: 100%;
        float: none;
    }

    #moitiephoto {
        height: 30vh;
        width: 30vh;
        margin-left: auto;
        margin-right: auto;
        border: 4px solid #f27b9c;
        margin-top: 16px;
    }

    #moitietexte {
        height: auto;
    }
}

@media screen and (max-width: 800px)
{
    nav a {
        font-size: 3em;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin-bottom: 8px;
    }

    #titre
    {
        font-size: 3em;
    }

}